{% extends 'base.html' %}
{% load i18n %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="col-md-4 col-md-offset-4">

      <form method="post" class="form-signin" action=".">
        {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
        {% endfor %}
        <br>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
{% endblock %}